h1{
    color: deeppink;
    font-family: cursive;
}

h2{
    color: blue;
}

.bird{
    width: 20%;
    height: 20%; 
    border-radius: 100%;
}

img{
    border-radius: 100%;
    padding: 10px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
